<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="AzureStorage" value="DefaultEndpointsProtocol=https;AccountName=futureevent;AccountKey=MmfXMaod8KNZtpJpeL9y2Qm522Yl9btJdC9PpsTwHurwOoX7BlyYBAV8mKgSAusK6gH2bm5qbzFD6u1gb3px+A==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>